* {
  margin:0px;
  padding:0px;
  font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  color: white;
}

html {
    background-color: darkslategray;
}

@media(orientation: landscape) {
body {
    border-radius: 0px 0px 12px 12px;
    margin: 0 auto;
    max-width: 80%;
    background-color: slategray;
    padding-bottom: 0.5rem;
}
}

h1, h2 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
p {
  padding: 1rem;
  width: 18rem;
  max-width: 600px;
  margin: 0px auto 0px auto;
  font-size: 30px;
}

    nav {
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 auto;
        justify-content: space-evenly;
    }

.pNav {
    padding: 0;
    margin: 5px 20px;
}

/*.pNav img {
    margin: 10px 0;
    border-radius: 30px;
}*/

.pNav .bubble {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(24, 24, 24);
    margin: 10px 0 0 0;
}

.pNav .bubble h1 {
    pointer-events: none;
    background-color: black;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 0;
}

.pNav .bubText {
    align-items: center;
    border: white 1px solid;
    border-bottom-right-radius: 30px;
    border-top: none;
}

#gp {
    background-image: url("./images/grav_paul.jpg");
}

#gl {
    background-image: url("./images/learn_GL.jpg");
}

#eu {
    background-image: url("./images/euker.jpg");
}

span {
    font-weight: bold;
}
a {
    text-decoration: underline;
}

.bubVid {
    border-top-left-radius: 25px;
    position: absolute;
    z-index: 5;
    width: 100%;
    pointer-events: none;
    opacity: 0;
}

.extra {
    pointer-events: none;
    background-color: black;
    opacity: 0;
    width: 500px;
    height: 100%;
}

@media(orientation: portrait) {
    .bubVid {
        position: absolute;
        opacity: 100;
        pointer-events: all;
        width: 500px;
    }
}

footer {
    text-align: center;
    margin: 10px 5px;
    margin-top: 30px;
    font-size: 1.3rem;
}